div.last-entries{
    text-align: left;
}


li.last-entries{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
}


a.last-entries {
    color: black;
    font-weight: bold;
    text-decoration: none;

}

a.last-entries:hover{
    color: blue;
}

ul.last-entries{
    list-style: none;
    padding: 0;
}



div#nav-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1%;
    text-align: center;
    align-items: center;
    justify-content: start;
    overflow: scroll;
}

div.nav-box-item {
    background-color: lightblue;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    font-size: 18px;
    border-radius: 20px;

}

a.nav-box-item-text {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 1.4em;
    text-transform: capitalize;
}

a.nav-box-item-text:hover {
    color: white;
}

#content-box {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    padding: 20px;
}

#ad-box {
    height: 300px;
    text-align: center;
    overflow: visible;
}

div.categories{
    text-align: left;
}
ul.categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

/* ul.categories > li {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
} */


div.banner {
    width: 100%;
    height: 100px;
    margin-top: 8%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

div .banner img {
    max-width: 100%;
    height: auto;
}

div#ad-box img {
    max-width: 90%;
    height: auto;
}